* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 238, 236);
    font-family: Georgia, serif;
}

#center {
    max-width: 55rem;
    margin: 9rem auto;
    padding: 1rem;
}

#header-text {
    display: inline-block;
    margin-right: 50px;
    padding-left: 20px;
}

h1 {
    letter-spacing: -.06rem;
    padding-bottom: 5px;
}

header h2 {
    font-size: 18px;
    letter-spacing: -.06rem;
}

address {
    display: inline-block;
    margin: 10px auto;
}

#contact-sphere {
    z-index: 10;
}

.small-sphere {
    display: inline-block;
    position: relative;
    /* bottom:44px; */
    content: '';
    background-color: rgb(215, 214, 214);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 4px;
    padding: 5px;
    transition-property: position;
    /* transition-duration: 0.1s; */
}

.email {
    right:156px;
    opacity: 0;
    transition-delay: 400ms;
}
.github {
    right: 104px;
    opacity: 0;
    transition-delay: 200ms;
}

.discord {
    right: 52px;
    opacity: 0;

}

.small-sphere-transformed {
    position: static;
    opacity: 100;
    transition-property: position, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.sphere-icon {
    position: relative;
    right: 1px;
    bottom: 1px;
}

main {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    flex-wrap: wrap-reverse;
}

.card {
    height: 15rem;
    max-width: 25rem;
    min-width: 17rem;
    /* border: 1px solid rgba(128, 128, 128, 0.253); */
    border-radius: 5px;
    padding: 1.5rem;
    flex-basis: 20rem;
    flex-grow: 1;
}

#about {
    /* Hvis du heller bruker "overflow: auto", så skjules scrollbaren helt til det blir nødvendig å scrolle
    Scroll er også litt unødvendig på et så lite vindu?
    */
    overflow: scroll;
    line-height: 1.5;
    transition-property: display;
    transition-delay: 0.5s;
    /* display: none; */
}

#skills {
    display: none;
    transition-property: display;
    transition-delay: 0.5s;
}

.flex-container {
    display: flex;
    padding-top: 1.4rem
}

#left-side-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
}

#right-side-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 30px;
}

.logo-sphere {
    width: 40px;
    height: 40px;
    margin: 0 4px;
    display: block;
}

.arrow {
    width: 60px;
    float: right;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-transform {
    transform: rotate(180deg);
}

#portrait {
    content: ''; /*kun for visualiseing*/
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: grey;
    flex-shrink: 0;
    overflow: hidden;
    margin: 10px 0; 
}

#portrait img {
    width: 100%;
    height: auto;


@media screen and (max-width:700px){
    .card {
        min-width: 100%;
    }
    address {
        display: flex;
        justify-content: center;
        margin:40px 0 0 0;
    }
    #header-text {
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
    }
    #portrait {
    margin: 10px auto; 
    }
    #center {
        margin-top: 30px;
    }
    
}